:root {
  --duration: 7.6s;
  --wedDuration:6.9s;
  --peopleDuration:10.5s;
}

body {
  background-color: #b80b5b;
  overflow: hidden;
}
/* Page structure */
.wrapper {
  place-items: center;
  margin: 0 1rem;
  
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
 
  
}

/** FINAL CONTENT **/
.itinerary {
  background-position:center;
  height:100%;
  width:80vw;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top:30px;
  background-color: #e4d3f2;
}
.hideModal {
  opacity:0;
  z-index: -100;
}
.closeModal {
  padding-left:10px;
  align-self:flex-end;
  width: 48px;
  cursor:pointer;
}
.closeIcon {
  width:70%
}
.itineraryImage {
  width:50%;
    @media (max-width: 800px) {
     width:100%;
  }
}
.finalContent {
  position: absolute;
  width: 100%;
  visibility: hidden;

  animation-name: unhide;
  animation-duration: 0.01s;
  animation-delay:var(--duration);
  animation-fill-mode: forwards;
}
@keyframes unhide {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
.mainContentWrapper {
  padding: 20px 40px 0px 40px;
}
.mainContent {
  background-position:center;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContentText {
  display:flex;
  padding:40px;
}
.footers {
  display:flex;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  gap:30px;
  margin-top:20px;
}
@keyframes screenFlex {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: visible
 }
}
.wedHeading {
  display:flex;
  flex-direction:column;
  height:60vh;
  max-width:200px;
  
}
.loveforyouContainer {
  display:flex;
  gap:10px;
  flex-direction:column;
  height:70vh;
  margin-right:40px;
  max-width:400px;
}
.wedTextForContentContainer {
   min-height: 150px;
  @media (max-width: 800px) {
    min-height: 100px;
  }
 
}
.wedTextForContent {
  width: 90%;
  animation-name: wedContentAnimation;
  animation-duration: 1.5s;
  animation-delay:var(--wedDuration);
}

@keyframes wedContentAnimation {
   0% {
    opacity: 0;
    width:90%;
  }
  25% {
    opacity: 1;
    width:70%;
  }
  50% {
    opacity: 1;
    width:140%;
    
 }
  100% {
    opacity: 1;
    width:90%
    
 }
}

.stutiContent {
  width:50%;
  animation-name: stutiRotateContent;
  transform: rotate(-10deg);
  margin-left:-10px;
  animation-duration: 1s;
  animation-delay:var(--peopleDuration);
  
}
.manishContent {
  animation-name: manishRotateContent;
  animation-duration: 1s;
  animation-delay:var(--peopleDuration);
  width: 50%;
   transform: rotate(10deg);
}
@keyframes stutiRotateContent {
  0% {
    transform: rotate(-10deg);
  }
  33% {
    transform: rotate(0deg);
  }
  100% {
     transform: rotate(-10deg);
  }
}
@keyframes manishRotateContent {
  0% {
    transform: rotate(10deg);
  }
  33% {
    transform: rotate(0deg);
  }
  100% {
     transform: rotate(10deg);
  }
}
.forForYouText {
  width: 100%;
  animation-fill-mode: forwards;
  align-self:flex-start;
}

.toWeddingContainer {
  align-self:flex-start;
} 
.comeToText {
  width: 40%;
}
.weddingText {
  width:50%;
}
.imgInfoBox {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgInfo {
  width:90%;
  margin-top:20px;
  max-width:400px;
}
.rsvp {
  width:80%;
  margin-top:10px;
  max-width:200px;
  cursor:pointer;
}
.eventDetails {
  width:90%;
  max-width:120px;
  cursor:pointer;
}
.toIndia {
  width:100%;
  max-width:130px;
  cursor:pointer;
}
.lsm {
  margin-top:10px;
  width:80%;
  max-width:130px;
  transform:rotate(45deg)
  
}
.rsvp:hover {
  box-shadow: rgba(245, 115, 176, 0.2) 0px 7px 29px 0px;
}

/** THIS IS ALL THE ANIMATION **/
.bgroundImage {
  height:100vh;
  width:100vw;
  
}
.imageBackgroundClass {
  background-image: url("https://cdn.glitch.global/e130db6f-7bf6-48e6-bb35-2b4447a81c58/knot.png?v=1720594805703");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  animation-duration: 0.053s;
  animation-name:removeImage;
  animation-delay:6.89s;
  animation-fill-mode: forwards;
}
.actualImage {
 
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

 
}

.startText {
  display:flex;
  justify-content:space-between;
  animation-name: screenEntry;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-fill-mode: forwards;
  padding:40px;
  overflow-y: hidden;
  
}
.knotknot {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
  max-width:200px;
}

.whosethere {
  display:flex;
  flex-direction:column;
  height:40vh;
  gap:30px;
  max-width:400px;
}

.textknock1 {
  width:100%;
  animation-duration: 1.5s;
  animation-name: knock;
  animation-fill-mode: forwards;
}
.textknock2 {
  width:100%;
  animation-duration: 1.5s;
  animation-delay:0.3s;
  animation-name: knock;
  animation-fill-mode: forwards;
}

.whosethere1 {
  width:50%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
  align-self:flex-end;
}
.whosethere2 {
  width:50%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
  align-self:flex-end;
}

@keyframes opacityShift {
  0% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@keyframes knock {
  0% {
    width:60%;
  }
  20% {
    width:5%;
  }
  40% {
    width:60%;
  }
  60% {
    width:30%
 }
}
@keyframes knock {
  0% {
    width:60%;
  }
  20% {
    width:5%;
  }
  40% {
    width:60%;
  }
  60% {
    width:30%
 }
}
@keyframes whosethere {
  0% {
    opacity:0;
    transform: translateX(100px);
  }
  100% {
     opacity:1;
     transform: translateX(0px);
 }
}



@keyframes removeImage {
  to {
    background-image: none;
  }
}

@keyframes screenEntry {
  0% {
    opacity:1;
  }
  100% {
     opacity:0;
 }
}

.ansText {
  display:flex;
  animation-name: screenComeGo;
  animation-duration: 3.622s;
  animation-delay:3.5s;
  animation-fill-mode: forwards;
  position: absolute;
  visibility: hidden;
  padding:40px;
}
.wed {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
  max-width:200px;
 
}
.wedwho {
  display:flex;
  gap:30px;
  flex-direction:column;
  height:40vh;
  margin-right:40px;
  max-width:400px;
}

.wedText {
  width: 90%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-name: wedTextAnimation;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
}


.stuti {
  width:50%;
  animation-name: stutiRotate;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-iteration-count: infinite;
  margin-left:-10px;
  
}

.manish {
  width: 50%;
  animation-name: manishRotate;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
}

.wedgText {
  width: 20%;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: wedWhoTextAnimation;
  animation-duration: 0.5s;
  animation-delay: 6s;
  align-self:flex-end;
}

.whoText {
  width: 20%;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: wedWhoTextAnimation;
  animation-duration: 0.5s;
  animation-delay: 6.5s;
  align-self:flex-end;
} 
.hideAnimation {
  display:none
}
@keyframes screenFlex {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
    visibility: visible
 }
}

@keyframes screenComeGo {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  5% {
    opacity: 1;
    visibility: visible
  }
  90% {
    opacity: 1;
    visibility: visible
  }
  93% {
    opacity: 1;
    visibility: visible
  }
 100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes manishRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  67% {
    transform: rotate(5deg);
  }
  100% {
     transform: rotate(0deg);
  }
}

@keyframes stutiRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  67% {
    transform: rotate(-5deg);
  }
  100% {
     transform: rotate(0deg);
  }
}

@keyframes wedTextAnimation {
  0% {
    opacity: 0;
    width: 10%
  }
  100% {
    opacity: 1;
    width: 100%
 }
}

@keyframes wedWhoTextAnimation {
  0% {
    opacity: 0;
    width: 10%
  }
  100% {
    opacity: 1;
    width: 40%
 }
}