

body {
  background-color: #b80b5b;
}
/* Page structure */
.wrapper {
  place-items: center;
  margin: 0 1rem;
  
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
 
  
}

/** FINAL CONTENT **/
.mainContentWrapper {
  height:100vh;
  width:100vw;
  padding:40px;
  
}
.mainContent {
  background-position:center;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: screenFlex;
  animation-duration: 0.01s;
  animation-delay:8s;
  animation-fill-mode: forwards;
  position: absolute;
  visibility: hidden;
}
.mainContentText {
  display:flex;
  padding:40px;
}
@keyframes screenFlex {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: visible
 }
}
.wedHeading {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
}
.loveforyouContainer {
  display:flex;
  gap:10px;
  flex-direction:column;
  height:70vh;
  margin-right:40px;
}

.wedTextForContent {
  width: 90%;
  animation-duration: 1.5s;
}
.stutiContent {
  width:50%;
  animation-name: stutiRotate;
  margin-left:-10px;
  
}
.manishContent {
  width: 50%;
}
.forForYouText {
  width: 100%;
  animation-fill-mode: forwards;
  align-self:flex-start;
}

.toWeddingContainer {
  align-self:flex-start;
} 
.comeToText {
  width: 40%;
}
.weddingText {
  width:50%;
}
.imgInfoBox {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgInfo {
  width:90%;
  margin-top:20px;
  max-width:400px;
}
.rsvp {
  width:90%;
  margin-top:20px;
}
/** THIS IS ALL THE ANIMATION **/
.bgroundImage {
  height:100vh;
  width:100vw;
  animation-duration: 0.01s;
  animation-name:screenEntry;
  animation-delay:8s;
  animation-fill-mode: forwards;
  
}
.actualImage {
  background-image: url("https://cdn.glitch.global/e130db6f-7bf6-48e6-bb35-2b4447a81c58/knot.png?v=1720594805703");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startText {
  display:flex;
  justify-content:space-between;
  animation-name: screenEntry;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-fill-mode: forwards;
   padding:40px;
  
}
.knotknot {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
}
.whosethere {
  display:flex;
  flex-direction:column;
  height:40vh;
  gap:30px;
}

.textknock1 {
  width:80%;
  animation-duration: 1.5s;
  animation-name: knock;
  animation-fill-mode: forwards;
}
.textknock2 {
  width:60%;
  animation-duration: 1.5s;
  animation-delay:0.3s;
  animation-name: knock;
  animation-fill-mode: forwards;
}

.whosethere1 {
  width:50%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
}
.whosethere2 {
  width:50%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
}

@keyframes opacityShift {
  0% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@keyframes knock {
  0% {
    width:60%;
  }
  20% {
    width:5%;
  }
  40% {
    width:60%;
  }
  60% {
    width:30%
 }
}
@keyframes knock {
  0% {
    width:60%;
  }
  20% {
    width:5%;
  }
  40% {
    width:60%;
  }
  60% {
    width:30%
 }
}
@keyframes whosethere {
  0% {
    opacity:0;
    transform: translateX(100px);
  }
  100% {
     opacity:1;
     transform: translateX(0px);
 }
}
@keyframes screenEntry {
  0% {
    opacity:1;
  }
  100% {
     opacity:0;
     display: none
 }
}

.ansText {
  display:flex;
  animation-name: screenFlex;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-fill-mode: forwards;
  position: absolute;
  visibility: hidden;
  padding:40px;
}
.wed {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
 
}
.wedwho {
  display:flex;
  gap:30px;
  flex-direction:column;
  height:40vh;
  margin-right:40px;
}

.wedText {
  width: 90%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-name: wedTextAnimation;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
}


.stuti {
  width:50%;
  animation-name: stutiRotate;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-iteration-count: infinite;
  margin-left:-10px;
  
}

.manish {
  width: 50%;
  animation-name: manishRotate;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
  animation-iteration-count: infinite;
}

.wedgText {
  width: 20%;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: wedWhoTextAnimation;
  animation-duration: 0.5s;
  animation-delay: 6s;
  align-self:flex-end;
}

.whoText {
  width: 20%;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-name: wedWhoTextAnimation;
  animation-duration: 0.5s;
  animation-delay: 6.5s;
  align-self:flex-end;
} 

@keyframes screenFlex {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible
 }
}

@keyframes manishRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-5deg);
  }
  67% {
    transform: rotate(5deg);
  }
  100% {
     transform: rotate(0deg);
  }
}

@keyframes stutiRotate {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  67% {
    transform: rotate(-5deg);
  }
  100% {
     transform: rotate(0deg);
  }
}

@keyframes wedTextAnimation {
  0% {
    opacity: 0;
    width: 10%
  }
  100% {
    opacity: 1;
    width: 100%
 }
}

@keyframes wedWhoTextAnimation {
  0% {
    opacity: 0;
    width: 10%
  }
  100% {
    opacity: 1;
    width: 40%
 }
}