

body {
  background-color: #b80b5b;
}
/* Page structure */
.wrapper {
  place-items: center;
  margin: 0 1rem;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  
}

.bgroundImage {
  height:100vh;
  width:100vw;
  animation-name: screenEntry;
  animation-duration: 0.5s;
  animation-delay:8s;
  animation-fill-mode: forwards;
  
}
.actualImage {
  background-image: url("https://cdn.glitch.global/e130db6f-7bf6-48e6-bb35-2b4447a81c58/knot.png?v=1720594805703");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startText {
  display:flex;
  justify-content:space-between;
  animation-name: screenEntry;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-fill-mode: forwards;
  
}
.knotknot {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
}
.whosethere {
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  height:40vh;
}

.textknock1 {
  width:80%;
  animation-duration: 1.5s;
  animation-name: knock;
  animation-fill-mode: forwards;
}
.textknock2 {
  width:60%;
  animation-duration: 1.5s;
  animation-delay:0.3s;
  animation-name: knock;
  animation-fill-mode: forwards;
}

.whosethere1 {
  width:50%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
}
.whosethere2 {
  width:50%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
}

@keyframes opacityShift {
  0% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

@keyframes knock {
  0% {
    width:60%;
  }
  20% {
    width:5%;
  }
  40% {
    width:60%;
  }
  60% {
    width:30%
 }
}
@keyframes knock {
  0% {
    width:60%;
  }
  20% {
    width:5%;
  }
  40% {
    width:60%;
  }
  60% {
    width:30%
 }
}
@keyframes whosethere {
  0% {
    opacity:0;
    transform: translateX(100px);
  }
  100% {
     opacity:1;
     transform: translateX(0px);
 }
}
@keyframes screenEntry {
  0% {
    opacity:1;
  }
  100% {
     opacity:0;
     display: none
 }
}

.ansText {
  display:flex;
  justify-content:space-between;
  animation-name: screenFlex;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-fill-mode: forwards;
  position: absolute;
  visibility: hidden;
  
}
.wed {
  display:flex;
  flex-direction:column;
  gap:70px;
  height:60vh;
 
}
.wedwho {
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  height:40vh;
}

.wedText {
  width:90%;
  animation-duration: 1.5s;
  animation-name: knock;
  animation-fill-mode: forwards;
   animation-name: wedTextAnimation;
  animation-duration: 0.5s;
  animation-delay:3.5s;
}
.sm {
}
.stuti {
  width:15vw;
  animation-name: stutiRotate;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-iteration-count: 6;
  animation-fill-mode: forwards;
  margin-left:-10px;
  
}
.manish {
   width:15vw;
   animation-name: manishRotate;
  animation-duration: 0.5s;
  animation-delay:3.5s;
  animation-iteration-count: 6;
  animation-fill-mode: forwards;
}

.wedgText {
  width:40%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
  animation-name: wedTextAnimation;
  animation-duration: 0.5s;
  animation-delay:6s;
}

.whoText {
  width:40%;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-delay:2s;
  animation-name: whosethere;
  opacity:0;
  animation-name: wedTextAnimation;
  animation-duration: 0.5s;
  animation-delay:6.5s;
} 


@keyframes screenFlex {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
    visibility: visible
 }
}
@keyframes manishRotate {
  0% {
    transform: rotate(-5deg);
  }
  100% {
     transform: rotate(5deg);
  }
}
@keyframes stutiRotate {
  0% {
    transform: rotate(5deg);
  }
  100% {
     transform: rotate(-5deg);
  }
}

@keyframes wedTextAnimation {
  0% {
    opacity:0;
    width:10%
  }
  100% {
    opacity:1;
    width: 80%
 }
}